In [201]:
### Utility Functions
from IPython.display import display, HTML
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql, drop_table_name=None):
    
    if drop_table_name: # You can optionally pass drop_table_name to drop the table. 
        try:
            c = conn.cursor()
            c.execute("""DROP TABLE IF EXISTS %s""" % (drop_table_name))
        except Error as e:
            print(e)
    
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [202]:
def create_crime_table(data_filename, normalized_database_filename):

    conn = create_connection('crime.db')
       
    create_table_crime_sql = """ CREATE TABLE [Crime] (
    [County] TEXT NOT NULL PRIMARY KEY,
    [Population_2020] TEXT NOT NULL,
    [Index_Crime_Count] TEXT NOT NULL,
    [Index_Crime_Rate] TEXT NOT NULL,
    [Violent_Crime_Count] TEXT NOT NULL,
    [Violent_Crime_Rate] TEXT NOT NULL,
    [Property_Crime_Count] TEXT NOT NULL,
    [Property_Crime_Rate] TEXT NOT NULL, 
    [Violent_Crime_With_Firearm_Count] TEXT NOT NULL,
    [Violent_Crime_With_Firearm_Rate] TEXT NOT NULL
    ); """
    
    def insert_crime(conn, values):
        sql = ''' INSERT INTO Crime(County
        ,Population_2020
        ,Index_Crime_Count
        ,Index_Crime_Rate
        ,Violent_Crime_Count
        ,Violent_Crime_Rate
        ,Property_Crime_Count
        ,Property_Crime_Rate
        ,Violent_Crime_With_Firearm_Count
        ,Violent_Crime_With_Firearm_Rate)
        VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?) '''
        cur = conn.cursor()
        cur.executemany(sql, values)
        return cur.lastrowid    

    with open(data_filename, 'r') as f:
        crime_lst = []
        for line in f:
            if line.split('\t') not in crime_lst:
                crime_lst.append(line.rstrip('\n').split('\t'))
        crime_lst=sorted(crime_lst[1:])
        
    with conn:
        lst_tup_reg=[]
        lst=[]
        create_table(conn, create_table_crime_sql,'crime')
        for i in range(len(crime_lst)):
            lst_tup_reg.append(tuple(''.join(crime_lst[i]).split(',')))
        insert_crime(conn,lst_tup_reg)

In [203]:
data_filename = '2020-county-index-rates.csv'
normalized_database_filename = 'crime.db'
create_crime_table(data_filename, normalized_database_filename)
conn = create_connection(normalized_database_filename)
cur = conn.cursor()
df = pd.read_sql_query("""SELECT * FROM Crime""", conn)
print(df)
conn.close()

         County Population_2020 Index_Crime_Count Index_Crime_Rate  \
0        Albany       303723.00           7412.00          2440.40
1      Allegany        45491.00            401.00           881.50
2         Bronx      1413534.00          36217.00          2562.20
3        Broome       188206.00           5180.00          2752.30
4   Cattaraugus        73437.00            868.00          1182.00
..          ...             ...               ...              ...
57   Washington        60583.00            350.00           577.70
58        Wayne        88933.00           1332.00          1497.80
59  Westchester       963247.00          10306.00          1069.90
60      Wyoming        39363.00            304.00           772.30
61        Yates        24704.00            221.00           894.60

   Violent_Crime_Count Violent_Crime_Rate Property_Crime_Count  \
0              1115.00             367.10              6297.00
1                73.00             160.50               328.00
2             13129.00             928.80             23088.00
3               660.00             350.70              4520.00
4               125.00             170.20               743.00
..                 ...                ...                  ...
57               79.00             130.40               271.00
58              170.00             191.20              1162.00
59             1585.00             164.50              8721.00
60               45.00             114.30               259.00
61               16.00              64.80               205.00

   Property_Crime_Rate Violent_Crime_With_Firearm_Count  \
0              2073.30                           238.00
1               721.00                             9.00
2              1633.40                          1802.00
3              2401.60                            92.00
4              1011.80                            12.00
..                 ...                              ...
57              447.30                             2.00
58             1306.60                            16.00
59              905.40                           229.00
60              658.00                             2.00
61              829.80                             3.00

   Violent_Crime_With_Firearm_Rate
0                            78.40
1                            19.80
2                           127.50
3                            48.90
4                            16.30
..                             ...
57                            3.30
58                           18.00
59                           23.80
60                            5.10
61                           12.10

[62 rows x 10 columns]